.body-color {
  background-color: #F5F5F5
  position: relative;
  margin-left: 105px;
}
.elephant-style {
  width: 60px;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 200px;
  }
.three-pix {
  width: 65px;
  margin-left: 20px;
}
.box-left {
  height: 100%;
  width: 100px;
  /* border: 5px solid green; */
  margin-top: 0;
  margin-left: 0;
  top: 0;
  left: 0;
  margin-right: 10px;
  position: fixed;
  z-index: 1;
  overflow-x:hidden;
}
* {
  font-family: 'Biryani', sans-serif;
}
.two-big-boxes {
  display:inline-block;
  background-color: #F5F5F5;
  width: 100%;
}

.heading-box {
  height: 65px;
  width: 375px;
  /* border: 5px solid red; */
  padding-left: 30px;
}
.welcome-box {
  height: 85px;
  width: 550px;
  padding-left: 30px;
  margin-left: 30px;
  margin-top: 25px;
  background-image: linear-gradient(to right, #8ED1DC , #E3F4F6);
}
.three-box-line {
  display: inline-block;
  /* border: 5px solid yellow; */
  height: 85px;
  width: 120px;
  padding-left: 30px;
  }
.left-body {
  /* border: 5px solid purple; */
  /* width: 540px; */
  position: relative;
  display: inline-block;
  }
.right-body{
  width: 580px;
  position: absolute;
  display: inline-block;
  margin-left: 80px;
}
.smaller-pix{
  height: 40px;
  padding-left: 10px;
  padding-top: 15px;
}
.short-lines {
  display: inline-block;
  background-color: white;
  padding-left: 15px;
}
.center-word-space{
  margin-right: 200px;
  margin-left: 60px;
  padding-bottom: 10px;
  padding-bottom: 0px;
}
.account-row {
  background-color: white;
  margin-left: 30px;
  margin-bottom: 10px;
  height: 60px;
  margin-bottom: 25px;
  padding-bottom: 10px;
}
.account-header {
  display: inline-block;
  margin-left: 30px;
}
.income-margin {
  margin-left: 30px;
}
.expenses-margin {
  margin-left: 15px;
}
.manage-margin {
  margin-left: 260px;
}
.column {
  float: left;
  /* width: 25%; */
  padding: 10px;
  height: 300px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
